.html{

}
#header {
    display: flex;
    justify-content: flex-end;
    background: #1f2937;
}

#header_links{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #e5e7eb;
    padding-right: 40px;
}
#HLogo {
    color: #f9faf8;
    margin-right: 25%;
    font-size: 24px;
}
.headerLink {
    padding: 0 15px;
}
.section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-right: 50px;
}
#s1{
    background: #1f2937;
}
#s1Left {
    width: 50%;
}
#s1Left h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
#s1Left p{
    font-size: 18px;
    color: #e5e7eb;
}
#s1 .pic{
    width: 40%;
    aspect-ratio: 16/9;
}
button {
    background: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
}
#infoDump {
    display: flex;
    flex-direction: column;
}
#infoDump h1 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}
.imageGallery {
    display: flex;
}
.square {
    height: 50px;
    width: 50;
    border: #3882f6;
    border-radius: 10px;
}
.imageGallery p {
    font: 18px;
}
#quote {
    background: #e5e7eb;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
    flex-direction: column;
}
#actionSection {
    justify-content: center;
    align-items: center;
}
.actionContainer {
    background: #3882f6;
    color: #e5e7eb;
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 75%;
    margin: 50px 50px;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
.actionContainer button{
    border-color: #e5e7eb;
    height: 30px;
    width: 100px;
    align-self: center;
}
.actionContainer h2 {
    margin-bottom: 0px;
}
.actionContainer p {
    padding-top: 0%;
}
.footer {
    background: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;
}